<!DOCTYPE html>
<html>
  <head>
    <title><%= "Comment by ID" %></title>
    <link rel="icon" href="/icons/ejs.png">
  </head>
  <body>
    <img src="/icons/ejs.png" alt="" style="width: 50px;">
    <h1><%= "Comments by ID" %></h1>
    <div style="border: 2px solid black; width: 400px; padding: 10px 15px;">
      <h4 style="color: brown; font-size: 28px; "><%= name %></h4>
      <p style="font-weight: bold; font-size: 20px;"><%= text %></p>
      <span style="font-style: italic;"><%= date %></span>
    </div>
  </body>
</html>