doctype html
html
  head
    title= "User by ID"
  body
    style.
      body {
        background-color: #fecfff;
        } 
    h1= "User by ID"
    style.
      h1 {
        font-size:40px;
        }
    h3= name.toUpperCase()
     style.
      h3 {
        font-size:28px;
        color: red;
        }
    p= email 
     style.
      p {
      cursor: pointer;
      font-weight: bold;
        }
    span= password
     style.
      span {
        font-style: italic;
        }